* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #78c1f3;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #fff;
  border-radius: 15px;
  padding: 25px;
  width: 450px;
  text-align: center;
}

#stopWatchDuration {
  font-size: 55px;
  color: #000;
  padding: 20px;
}

#laps {
  height: 200px;
  padding: 10px;
  overflow: auto;
}

#laps li {
  font-size: 22px;
  padding: 10px;
}

.stopButtons {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.stopButtons button {
  height: 45px;
  width: 25%;
  border-radius: 5px;
  background: #78c1f3;
  border: none;
  outline: none;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

#stop,
#reset {
  background: #f44336;
}

ul {
  list-style-type: none;
}