@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #78c1f3;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #fff;
  display: flex;
  border-radius: 5px;
  width: 1200px;
  margin: 1rem;
}

.container .card {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 1rem;
}

select {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 16px;
  padding: 10px;
}

select option {
  padding: 10px;
  margin: 10px;
}

.textArea {
  position: relative;
}

textarea {
  width: 100%;
  border-radius: 5px;
  resize: none;
  height: 250px;
  padding: 10px;
  outline: none;
  font-size: 18px;
  margin: 10px 0;
  border: 1px solid #ddd;
}

textarea::-webkit-scrollbar {
  display: none;
}

.characters {
  position: absolute;
  bottom: -15px;
  right: 0;
  padding: 10px;
  font-size: 12px;
}

.rotate {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.rotate i {
  background-color: #78c1f3;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  transform: rotate(0deg);
}

.rotate .rotateIcon {
  transform: rotate(180deg);
}

.cardFooter {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cardFooter button {
  height: 45px;
  padding: 0 20px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  background: #78c1f3;
}

.cardFooter i {
  font-size: 22px;
  color: #78c1f3;
  cursor: pointer;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .rotate i {
    top: 0;
  }

  .rotate i:nth-child(1) {
    transform: rotate(90deg);
  }

  .rotate .rotateIcon {
    transform: rotate(270deg) !important;
  }
}