@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 5px;
  width: 98vw;
  height: 98vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 1rem;
  overflow: hidden;
  border: 2px solid #78c1f3;
}

.code-editor {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  overflow-y: auto;
  background-color: #060606;
  padding: 0.5rem;
}

h1 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.2rem 0;
  color: #819eb9;
  align-items: center;
  display: flex;
  gap: 5px;
}

span {
  font-size: 12px;
  width: 20px;
  display: inline-block;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  color: #000;
}

.html {
  background-color: #ff3c41;
}

.css {
  background-color: #0ebeff;
  font-size: 18px;
}

.js {
  background-color: #fcd000;
}

.code-editor textarea {
  width: 100%;
  height: calc(100% - 2.2rem);
  background-color: #1d1e22;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1.1rem;
  resize: vertical;
}

.code-editor::-webkit-scrollbar,
.code-editor textarea::-webkit-scrollbar {
  width: 0.4rem;
}

.code-editor::-webkit-scrollbar-thumb,
.code-editor textarea::-webkit-scrollbar-thumb {
  background-color: rgb(255, 40, 113);
  border-radius: 0.4rem;
}

#output {
  width: 100%;
  height: 100%;
  border: none;
}