@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background: #78c1f3;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 14px 14px 0 0 #000000;
  margin-top: 10px;
}

.gameCards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.cards {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #78c1f3;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 5px lightblue;
  flex-direction: column;
  font-size: 18px;
  user-select: none;
}

.cards:hover,
.cards.active {
  background-color: #78c1f3;
  color: #ffffff;
}

.btn {
  text-align: center;
  margin-top: 20px;
}

.btn button {
  height: 40px;
  padding: 10px 25px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #78c1f3;
  cursor: pointer;
  box-shadow: 10px 10px 5px lightblue;
  user-select: none;
}

.playground {
  display: none;
}

.questionHint {
  text-transform: capitalize;
  user-select: none;
  text-align: center;
}

.selectedWords,
.shuffleWords {
  display: flex;
  gap: 25px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.selectedWords .box,
.shuffleWords .box {
  width: 55px;
  height: 55px;
  background: #78c1f3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  user-select: none;
}

.resetSelection {
  display: none;
}

.fa-lightbulb {
  cursor: pointer;
}

.box.shake {
  animation: shake 0.35s ease-in-out;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-13px);
  }

  40% {
    transform: translateX(13px);
  }

  60% {
    transform: translateX(-8px);
  }

  80% {
    transform: translateX(8px);
  }
}

.box.match {
  animation: rubberBand 1s linear forwards;
}

@keyframes rubberBand {
  0% {
    transform: scaleX(1);
  }

  40% {
    transform: scaleX(1.12) scaleY(0.75);
  }

  55% {
    transform: scaleX(0.85) scaleY(1);
  }

  65% {
    transform: scaleX(1.09) scaleY(0.85);
  }

  75% {
    transform: scaleX(0.9) scaleY(1);
  }

  90% {
    transform: scaleX(1.05) scaleY(0.95);
  }

  100% {
    transform: scaleX(1) scaleY(1);
  }
}