@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.4s ease;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: #673ab7;
}

.container {
  width: 450px;
  border-radius: 10px !important;
  overflow: hidden;
  background-color: #fff;
  padding: 20px 30px;
}

.progressBar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

.progressBar .active {
  color: #673ab7;
}

.progressBar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  font-weight: 400;
  text-align: center;
  position: relative;
  z-index: 1;
}

.progressBar li#account::before {
  content: "\f023";
  font-family: FontAwesome;
}

.progressBar li#personal::before {
  content: "\f007";
  font-family: FontAwesome;
}

.progressBar li#social::before {
  content: "\f0ac";
  font-family: FontAwesome;
}

.progressBar li#confirm::before {
  content: "\f00c";
  font-family: FontAwesome;
}

.progressBar li:before {
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

.progressBar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 25px;
  top: 25px;
  z-index: -1;
}

.progressBar li#confirm::after {
  width: 0;
}

.progressBar li.active:before,
.progressBar li.next:after {
  background: #673ab7;
}

.form-group {
  display: none;
  animation: animate 1s;
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }

  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.form-group.form-active {
  display: block;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.row h2 {
  color: #673ab7;
  font-weight: normal;
}

.row h3 {
  color: gray;
  font-weight: normal;
}

.form-control {
  position: relative;
  margin: 1rem 0;
}

.form-control label {
  font-size: 13px;
  position: absolute;
  height: 19px;
  padding: 4px 7px;
  top: -14px;
  left: 10px;
  color: #a2a2a2;
  background-color: white;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  height: 50px;
}

button {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: #673ab7;
  color: #f3f3f3;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  outline: none;
  margin-left: auto;
  width: 50%;
  font-size: 15px;
}

button:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px #673ab7;
}

.button-control {
  display: flex;
  gap: 10%;
}

.success {
  text-align: center;
  color: #673ab7;
}

.fa-check-circle-o {
  font-size: 155px !important;
}