@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
  box-sizing: border-box;
}

body {
  background: #78c1f3;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: 500px;
}

.container h2 {
  text-align: center;
  margin-bottom: 1rem;
}

#stopScan {
  display: none;
  position: relative;
  top: 2px;
  left: 5px;
  color: crimson;
  cursor: pointer;
}

video,
img {
  max-width: 380px;
}

.qrCodeView {
  padding: 25px;
  margin-bottom: 15px;
  border: 2px dashed #555;
  text-align: center;
  color: #55b7f9;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.qrCodeView i {
  font-size: 55px;
  padding: 3rem;
  cursor: pointer;
}

.qrCodeView p {
  font-size: 1.2rem;
  margin-top: 15px;
}

.qrCodeView img,
.qrCodeView video,
.qrTextDetails {
  display: none;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.qrTextDetails textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  padding: 10px 15px;
  outline: none;
  font-size: 16px;
  resize: none;
  border-radius: 5px;
  border: 1px solid #999;
}

.qrTextDetails .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.qrTextDetails button {
  width: 45%;
  height: 45px;
  background: #55b7f9;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}