@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #78c1f3;
}

.clock {
  background: #ececec;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 14px solid #333;
  box-shadow: 0 2vw 4vw -1vw rgba(0, 0, 0, 0.8);
  position: relative;
  margin: 8% auto 0;
}

.dot {
  width: 12px;
  height: 12px;
  background: #ccc;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px -1px black;
  z-index: 10;
}

.hand {
  position: absolute;
  left: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.hour-hand {
  z-index: 5;
  width: 4px;
  height: 65px;
  background: #333;
  top: 69px;
  transform-origin: 50% 69px;
  margin-left: -2px;
}

.minute-hand {
  z-index: 6;
  width: 4px;
  height: 100px;
  background: #666;
  top: 39px;
  margin-left: -2px;
  transform-origin: 50% 99px;
}

.second-hand {
  z-index: 7;
  width: 2px;
  height: 120px;
  background: red;
  top: 13px;
  margin-left: -1px;
  transform-origin: 50% 124px;
}

.info {
  position: absolute;
  background: #ccc;
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  width: 65px;
  text-align: center;
}

.date {
  top: 55px;
  left: 105px;
}

.day {
  top: 195px;
  left: 105px;
}

.session {
  top: 120px;
  right: 35px;
  width: 30px;
}

span {
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -5px;
  transform-origin: 50% 138px;
  top: -1px;
}

.intervals {
  width: 1px;
  height: 10px;
  background: #666;
  margin-left: -1px;
}

.watermark {
  position: fixed;
  bottom: 15px;
  right: 5px;
  opacity: 0.5;
  z-index: 99;
  color: white;
}