@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Press+Start+2P&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Press Start 2P";
}

body {
  background: #78c1f3;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

span {
  position: absolute;
  left: 50%;
  top: 55px;
  transform: translate(-50%, 50%);
  color: #effbe3;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-family: "Press Start 2P", cursive, sans-serif;
}

p {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, 50%);
  text-align: center;
  background: #effbe3;
  padding: 10px;
  font-family: "Press Start 2P", cursive, sans-serif;
  font-size: 10px;
  color: grey;
}

button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: orange;
  color: #effbe3;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background: #ff8b3d;
}

canvas {
  background-color: #ffffff;
  box-shadow: 14px 14px 0 0 #181825;
  margin: 1.5rem;
}