@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #78c1f3;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: 500px;
}

.container h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.form-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.form-control input,
.form-control select {
  width: 50%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #999;
  font-size: 18px;
  padding: 0 15px;
}

.qrCodeView {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin: 10px;
  border: 2px dashed #555;
  border-radius: 5px;
  pointer-events: none;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.form-button {
  text-align: center;
  padding: 10px;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  width: 100%;
  height: 45px;
  background: #55b7f9;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
}

input[type="color"] {
  -webkit-appearance: none;
  position: relative;
}

input[type="color"]::-webkit-color-swatch {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 5px;
}